<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767742131819-nd5kk6e6cppn1rp8jr4qci16ni3vqd9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767742131819-nd5kk6e6cppn1rp8jr4qci16ni3vqd9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>767742131819-2lfudu90sh8ktbc0rp5gnf073vba8vn4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKKTbw34J5Ukb256QcdeyGxTZoK1TcGtU</string>
	<key>GCM_SENDER_ID</key>
	<string>767742131819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outfit4rent.app</string>
	<key>PROJECT_ID</key>
	<string>outfit4rent-c7575</string>
	<key>STORAGE_BUCKET</key>
	<string>outfit4rent-c7575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767742131819:ios:d9d5e82b3ab6b3b53abb2e</string>
	<key>DATABASE_URL</key>
	<string>https://outfit4rent-c7575-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>